body {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.container {
    width: 700px;
    margin: auto;
    margin-top: 40px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px gray;
}

h1 {
    text-align: center;
    color: #004c8c;
}

.form-box {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.form-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 6px;
}

.form-box button {
    padding: 10px 20px;
    background: #00b32d;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.search {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid gray;
    margin-bottom: 15px;
    
}


.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    width: 210px;
    background: #e9f4ff;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    position: relative;
}

.card h3 {
    margin: 0;
    color: #003765;
}

.card p {
    margin: 5px 0;
    font-size: 14px;
}

.delete {
    background: red;
    border: none;
    color: white;
    padding: 6px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}
